.lmenu{
	margin-top:10px;
	width:188px;
	border-right:#9FBE3F solid 2px;
	border-top-width:medium;
	height:auto;
	padding-bottom:30px;
}
.lmenu_title{
	color:#3C9;
	font-size:20px;
	font-weight:bold;
	padding-top:30px;
	text-align:center;
	height:30px;
	border-bottom:#9FBE3F groove 5px;
}
.lmenu_items{
	font-family:"Comic Sans MS", cursive;
}
.lmenu_item{
	padding-top:15px;
	width:188px;
	border-bottom:#9FBE3F double 3px;
	padding-bottom:10px;
}
.p_category{
	border-bottom:#9FBE3F dotted 1px;
	color:#69C;
}
.p_category a{
	color:#69C;
	text-decoration:none;
}
.p_category a:visited{
	color:#69C;
}
.p_category a:hover{
	color:#69C;
}
.p_category_sapn{
	padding-left:20px;
	cursor:pointer;
	width:168px;
	display:inline-block;
}
.p_category_sapn:hover{
	background-color:#F90;
}
.sub_category{
	padding-top:2px;
}
.sub_category a{
	color:#333;
	text-decoration:none;
}
.sub_category a:visited{
	color:#333;
}
.sub_category a:hover{
	color:#333;
}
.sub_category_span{
	width:148px;
	display:inline-block;
	cursor:pointer;
	padding-left:40px;
}
.sub_category_span:hover{
	background-color:#FC3;
}