hr{
	color:#999;
	border:none;
	border-top:#9FBE3F double 3px;
}
.mycontent{
	width:780px;
	height:auto;
}
.category_topimage{
	margin-left:auto;
	margin-right:auto;
	width:778px;
}
.mygoodscontent{
	padding-left:7px;
	padding-right:7px;
}
.mygoodscontent a{
	text-decoration:none;
	color:#39f;
}
.mygoodscontent a:visited{
	color:#39f;
}
.mygoodscontent a:hover{
	color:#666;
}
.mygoodscontent hr{
	clear:both;
}
.goodsshowbox{
	margin:10px 0;
	border-right:#CCC 2px solid;
	float:left;
	width:180px;
	padding-left:6px;
	padding-right:4px;
	height:260px;
}
.goodsshowbox_noborder{
	margin:10px 0;
	float:left;
	width:180px;
	padding-left:6px;
	padding-right:4px;
	height:260px;
}
.con_goodsimage{
	cursor:pointer;
	margin:8px;
	padding:2px;
	width:156px;
	height:166px;
	border:#CCC 1px dotted;
}
.con_goodsimage:hover{
	border-style:solid;
	border-color:#333;
}
.con_goodsname{
	text-align:center;
	color:#09F;
	font-weight:700;
}
.con_goodsname a{
	text-decoration:none;
	color:#09F;
	font-weight:700;
}
.con_goodsname a:visited{
	color:#09F;
}
.con_goodsname a:hover{
	color:#666;
}
.con_goodsprice{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.con_goodsaddtocart{
	padding-top:2px;
	text-align:center;
}
.con_addtocart_btn{
	cursor:pointer;
	display:inline-block;
	width:95px;
	height:30px;
	background-image:url(../images/addtocart.png);
	background-position:0 0;
}
.con_addtocart_btn:hover{
	background-position:0 -30px;
}