.wrap{
	margin-left:auto;
	margin-right:auto;
	width:980px;
	height:auto;
}
.top{
	width:auto;
	background-image:url(../images/topbg.png);
	height:28px;
	background-repeat:repeat-x;
	padding-top:9px;
}
.topmenu{
	height:125px;
	width:auto;
	background-image:url(../images/roof.png);
	background-repeat:repeat-x;
}
.topcontent{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	padding-left:580px;
}
.topcontent a {
	padding-left:10px;
	padding-right:10px;
	*color: #1E608E;*
	text-decoration:none;
	outline: none;
}
.topcontent a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
.topcontent a:hover {
	text-decoration:underline;
}
.topnav{
	padding-left:20px;
	padding-right:20px;
	margin-left:auto;
	margin-right:auto;
	height:125px;
	width:940px;
}
.topnav_right{
	float:left;
	width:685px;
	padding-left:40px;
}
.cart{
	height:45px;
	padding-top:5px;
	padding-left:450px;
	color:#ccffcc;
	font-size:14px;
	font-weight:900;
}
.cart a{
	color:#ccffcc;
	text-decoration:none;
}
.cart a:hover{
	color:#ccffcc;
	text-decoration:underline;
}
.cart a:visited{
	color:#ccffcc;
}
.cartbg{
	float:none;
	height:39px;
	width:202px;
	background-image:url(../images/cart_bg.png);
	background-repeat:no-repeat;
	padding-top:8px;
	padding-left:42px;
}
.cart_left{
	float:left;
	width:76px;
	padding-top:3px;
}
.cart_right{
	float:left;
	padding-left:1px;
}
.checkout{
	width:75px;
	height:23px;
	display:block;
	background-image:url(../images/checkout.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
.checkout:hover{
	background-position:0 -23px;
}
.checkout_bg{
	display:block;
	background-image:url(../images/checkout.png);
	background-repeat:no-repeat;
}
.nav ul{
	float:left;
	list-style:none;
}
.nav li{
	float:left;
	color:#FFF;
	display:inline;
	padding-left:25px;
	padding-right:25px;
}
.nav span{
	cursor:pointer;
}
.nav a:link, a:visited, a:focus{
	outline:none;
}
.nav a{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:block;
}
.nav a:hover{
	color:#FFF;
	text-decoration:underline;
}
.logo{
	background-image:url(../images/logo.png);
	width:215px;
	height:125px;
	float:left;
}