<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>EmpListServlet</servlet-name>
		<servlet-class>com.java.servlet.EmpListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EmpListServlet</servlet-name>
		<url-pattern>/EmpListServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.java.servlet.LoginServlet</servlet-class>
		<init-param>
			<param-name>empno</param-name>
			<param-value>7788</param-value>
		</init-param>
		<init-param>
			<param-name>job</param-name>
			<param-value>sales</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.java.filter.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/ab</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.java.listener.MySessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.java.listener.MySessionAttrListener</listener-class>
	</listener>

	<error-page>
		<error-code>404</error-code>
		<location>/notFileFound.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.io.IOException</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
